---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About Me"
    description="A little bit about me :)"
    pubDate={new Date("August 20 2024")}
    heroImage="/blog-placeholder-about.jpg">
    <p>
        Hi! I'm Joshua Motoaki Lau, a software engineer and 3rd year electrical
        engineering student at Princeton University. I'm passionate about
        education, engineering, and computer science, and I write about my
        experiences in these areas on this blog. I also occasionally make <a
            href="https://youtube.com/@dachshundplanet"
            target="_blank">YouTube Videos</a
        >.
    </p>
    <p>
        At Princeton, I work as co-president and lead software engineer for <a
            href="https://tigerapps.org"
            target="_blank">TigerApps</a
        >, an organization that builds and maintains a suite of full-stack
        student applications for the Princeton community. I also research
        computer networks with the <a
            href="https://netsyn.princeton.edu/"
            target="_blank">NetSyn Lab</a
        >, looking into how to improve video streaming security.
    </p>
    <p>
        Apart from engineering, I recreationally ice dance and play taiko
        (Japanese drums) and piano (Bach is my favorite). I also love learning
        languages; I speak English, German, and some Spanish and am currently
        learning Japanese. I sometimes dabble in food criticism.
    </p>
</Layout>
