---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h2>Hey there!</h2>
            <p>
                Welcome to my blog about education, engineering, and computer
                science! My name is <strong>Joshua Motoaki Lau</strong>, and I'm
                a software engineer and 3rd year electrical engineering student
                at
                <a href="https://ece.princeton.edu/" target="_blank"
                    >Princeton University</a
                >.
            </p>
            <p>I have 3 main categories of posts:</p>
            <p>
                <strong>Education</strong> — I've always been passionate about education
                and learning; I have a ton to say about it. Also, as a high school
                student, I always looked for detailed information about what to expect
                in college. I write about my experiences at Princeton and share advice
                on some of the study strategies that have worked for me.
            </p>
            <p>
                <strong>CS & Engineering</strong> — I find that many blogs about
                computer science and engineering are either written by professionals
                who don't reflect the learning process and the struggles that come
                with it, or are too focused on formulaic tutorials. I write primarily
                about my experiences of learning and working on projects as an amateur.
            </p>
            <p>
                <strong>EduTech</strong> — The intersection between education and
                technology is an incredibly fascinating area that has so many implications
                for the future of society. I write about how technology can be used
                to improve education, critique the current state of technology in
                education, and contemplate new ideas for educational technology.
            </p>
            <p>
                You can read my latest posts on the <a href="/blog">blog</a> page
                or learn more about me on the <a href="/about">about</a> page.
            </p>
            <p>
                If you'd like to get in touch, feel free to email me for any
                reason at <a href="mailto:joshuamotoaki@gmail.com"
                    >joshuamotoaki@gmail.com</a
                > (except to scam me, please don't do that).
            </p>
        </main>
        <Footer />
    </body>
</html>
